.navbar {
    padding: 20px 20px 20px 20px;
    background-color: #ef5350;
}

.navbar-brand {
    color: #FFF;
}

.navbar-brand:hover {
    cursor: pointer;
    color: #1e1e1e;
}

.pi-arrow-left {
    color: #FFF;
}

.pi-arrow-left:hover {
    cursor: pointer;
    color: #1e1e1e;
}