<div class="pokemonCard" *ngIf="pokemonDetail">
    <div class="row justify-content-center pokemon-types">
        <div class="col-12">
            <h4>{{pokemonDetail.id}}</h4>
            <h6 *ngIf="pokemonDetail.original_name.length <= 17; else longName">{{pokemonDetail.name}}</h6>
        </div>
        <div class="col pokemon-type-parent">
            <img *ngFor="let type of pokemonDetail.types;let i=index;" class="pokemon-type" src="../../../assets/types/{{type.type.name}}.svg" alt="">
        </div>
    </div>
    <ng-template #longName>
        <h6 pTooltip="{{pokemonDetail.original_name}}" tooltipPosition="top">{{pokemonDetail.name}}</h6>
    </ng-template>
    <img class="pokemon-img" src="{{pokemonDetail.sprites.other.home.front_default}}" alt="{{pokemonDetail.name}}">
</div>