<nav class="navbar sticky-top">
    <a class="navbar-brand">Pokédex</a>
    <form class="form-inline">
      <input (keyup)="searchPokemon()" [(ngModel)]="searchValue" class="form-control mr-sm-2" placeholder="Search..." aria-label="Search" name="pokeSearch">
    </form>
</nav>

<ng-template [ngIf]="filteredPokemons.length >= pokemonAmount">
    <div class="parent">
        <div class="row gx-1 ">
          <div class="col-lg-2 col-md-4 col-sm-12" *ngFor="let pokemon of filteredPokemons;let i=index;">
            <app-pokemon-card [pokemonDetail]="pokemon" routerLink="/pokemon/{{pokemon.original_name}}"></app-pokemon-card>
            </div>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="filteredPokemons.length < pokemonAmount">
    <app-pokemon-loader></app-pokemon-loader>
</ng-template>

<p-blockUI [blocked]="filteredPokemons.length < pokemonAmount"></p-blockUI>